<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <% if (peeps.length>0) { %>
        <h1>List of all Covid19 Vaccinated People</h1>
        <div class="grid">
            <% for(let person of peeps) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= person.id %></h1>
                </header>
                
                <div class="card__content">
                    <h2 class="product__price"><%= person.name %></h2>
                    
                </div>
                <div class="card__content">
                    <h2 class="product__price"><%= person.vaccine %></h2>
                    
                </div>
                <div class="card__actions">
                    <a href="/people/<%= person._id %>" class="btn">Details</a>
                </div>
            </article>
            <% } %>
        </div>
        <% } else{ %>
            <h1>No Data Found! </h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>